:root {
  --ion-color-primary:          #E30613;
  --ion-color-primary-rgb:      227, 6, 19;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade:    #c80511;
  --ion-color-primary-tint:     #e61f2b;
}