:root {
  --ion-color-primary:          #721c22;
  --ion-color-primary-rgb:      227, 6, 19;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade:    #ff0011;
  --ion-color-primary-tint:     #88060f;
}